<div class="container">
  <div class="card shopping-cart">
           <div class="card-header bg-dark text-light">
             <span class="float-left">
               <a [routerLink]="['/cart']" class="btn btn-outline-success">Back to cart</a>
              </span>
              <span class="float-right">
               <a [routerLink]="['/menu']" class="btn btn-outline-info">Back to menu</a>
              </span>
           </div>

           <div class="card-body" >
             <h2>Check list</h2>
             <div class="row p-3 justify-content-center">
              <div class="col-sm-2">
                <a><h5>Title</h5></a>
              </div>
              <div class="col-sm-2">
                <a><h5>Count</h5></a>
              </div>
                <div class="col-sm-2">
                <a><h5>Price</h5></a>
              </div>
                <div class="col-sm-2">
                <a><h5>Sum</h5></a>
              </div>
            </div>
            <div class="row p-3 justify-content-center" *ngFor="let product of products">
              <div class="col-sm-2">
                <a><h5>{{product.title}}</h5></a>
              </div>
              <div class="col-sm-2">
                <a><h5>{{product.count}}</h5></a>
              </div>
                <div class="col-sm-2">
                <a><h5>x{{product.price}}</h5></a>
              </div>
                <div class="col-sm-2">
                <a><h5>={{product.price * product.count}}</h5></a>
              </div>
            </div>

            <div class="card-footer row">
              <!-- <div class="col-md-3 col-sm-3 justify-content-center">
                  <input type="text" class="form-control" placeholder="cupone code">
              </div> -->
              <span *ngIf="loggedIn()" class="col-sm-3">
                Additional information:
              </span>
              <span *ngIf="!loggedIn()" class="col-sm-3">
                Please, provide information about you(Name, Phone, Email):
              </span>
              <span class="col-sm-4">
                <input class="" type="text" name="description" [(ngModel)]="description">
              </span>
              <span class="col-sm-3">
                Total price: <b>{{this.sum()}}$</b>
              </span>
              <span class="col-sm-2">
                <a (click)="createOrder()" class="btn btn-success">Create order</a>
              </span>
          </div>
      </div>
</div>