<div class="container-sm">
  <div class="card bg-light">
    <div *ngIf="!havePhoto; then Default else Custom"></div>
    <ng-template #Default>
      <img class="img-fluid" src="../../../assets/defaultUser.png" />
    </ng-template>
    <ng-template #Custom>
      <img class="img-fluid" src="{{user.photoUrl}}"/>
    </ng-template>
    
    <div class="card-body">
      <h5 class="card-text text-muted text">{{user.name}} {{user.surname}}</h5>
    
      <a *ngFor="let position of user.positions" class="card-text text-muted text">{{position}} </a>
      
      <div class="row">
        <a class="col text-left" [routerLink]="['/user-detail', user.id]"><input type="button" class="btn btn-info" value="More"></a>
        <a *ngIf="isWaiter()" class="col text-right" ><input (click)="Call(user.id)" type="button" class="btn btn-warning" value="Call"></a>
      </div>
    </div>
  </div>
  
</div>
