<div class="container">
  <div class="card shopping-cart">
           <div class="card-header bg-dark text-light text-right">
               <a [routerLink]="['/menu']" class="btn btn-outline-info">Back to menu</a>
           </div>

           <div class="card-body" >
            <div class="row p-3 justify-content-center" *ngFor="let product of products">
              <app-productcart (onDeleted)="loadCart()" [product]="product"></app-productcart>
            </div>

            <div class="card-footer text-right">
              <!-- <div class="col-md-3 col-sm-3 justify-content-center">
                  <input type="text" class="form-control" placeholder="cupone code">
              </div> -->
              <span class="m-5">
                Total price: <b>{{this.sum()}}$</b>
              </span>
              <span class="m-4">
                <a [routerLink]="['/checkout']" class="btn btn-success">Checkout</a>
              </span>
          </div>
      </div>
</div>