<div class="container-fluid">
  <div class="card bg-light">
    <div *ngIf="!havePhoto; then Default else Custom"></div>
    <ng-template #Default>
      <img class="img-fluid" src="../../../assets/notFound.jpg" />
    </ng-template>
    <ng-template #Custom>
      <img class="img-fluid" src="{{product.photoUrl}}" />
    </ng-template>
    
    <div class="card-body">
      <h5 class="card-title text mb-1">{{ (product.title.length > 13)? (product.title | slice:0:13)+'..':(product.title)}}</h5>
      <h6 class="card-text text-muted text">{{product.category}}</h6>
      <h6 class="card-text text-muted text">{{product.price}}$</h6>
      <p class="card-text">
        {{ (product.description.length > 35)? (product.description | slice:0:35)+'..':(product.description) }}
      </p>
      <div class="row">
        <a class="col text-left" [routerLink]="['/product-detail', product.id]"><input type="button" class="btn btn-primary" value="More"></a>
        <a class="col text-right" ><input (click)="AddToCart(product.id)" type="button" class="btn btn-primary" value="Buy"></a>
      </div>
    </div>
  </div>
  
</div>