<div *ngIf="progresBarVisible" class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" 
    aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>
<div *ngIf="canBeCreated()" class="row">
  <div class="col-12 m-3">
    <a [routerLink]="['/product-detail']"><input type="button" class="btn btn-success" value="Add"></a>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pb-2" *ngFor="let product of products">
      <app-menucard [product]="product"></app-menucard>
    </div>
  </div>
</div>