<div *ngIf="progresBarVisible" class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" 
    aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>
<div *ngIf="canBeCreated()" class="row">
  <div class="col-12 m-3">
    <a [routerLink]="['/product-detail']"><input type="button" class="btn btn-success" value="Add"></a>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-2">
        <div class="list-group mb-3" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-product-list" (click)="loadProducts('Soup')" data-toggle="list" href="#list-product" role="tab" aria-controls="product">
            Soup
          </a>
          <a class="list-group-item list-group-item-action" id="list-product-list" (click)="loadProducts('Salad')" data-toggle="list" href="#list-product" role="tab" aria-controls="product">
            Salad
          </a>
          <a class="list-group-item list-group-item-action" id="list-product-list" (click)="loadProducts('Tacos')" data-toggle="list" href="#list-product" role="tab" aria-controls="product">
            Tacos
          </a>
          <a class="list-group-item list-group-item-action" id="list-product-list" (click)="loadProducts('Burrito')" data-toggle="list" href="#list-product" role="tab" aria-controls="product">
            Burrito
          </a>
          <a class="list-group-item list-group-item-action" id="list-product-list" (click)="loadProducts('Drink')" data-toggle="list" href="#list-product" role="tab" aria-controls="product">
            Drinks
          </a>
        </div>
    </div>
    <div class="col-sm-10 tab-content border border-info bg-light p-1" id="nav-tabContent">
        <div class="tab-pane show active" id="list-product" role="tabpanel" aria-labelledby="list-product-list">
          <div class="row justify-content-center">
          <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 pb-2" *ngFor="let product of products">
            <app-menucard [product]="product"></app-menucard>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>